.form-group-author,
.form-group-email,
.form-group-url {
    display: none !important;
}

.frame.blog-form form {
    padding-top: 10px;
}

.frame.blog-comment .comments {
    padding-top: 10px;
}

input[type=submit] {
    margin: 3px 3px 3px 0;
    &:hover {
        background-color: #360;
    }
}
