.form-group-author,
.form-group-email,
.form-group-url {
    display: none !important;
}

.blog-form {
    display: flex;

    @include media-xl {
        justify-content: flex-end;
    }
    @include media-l {
        justify-content: flex-start;
    }
    @include media-sub-l {
        justify-content: flex-start;
    }
}

.frame.blog-form form {
    padding-top: 10px;
}

.frame.blog-comment .comments {
    padding-top: 10px;
}

.frame.blog-comment .comments p.content {
    background-color: #eee;
}

input[type=submit] {
    margin: 3px 3px 3px 0;

    &:hover {
        background-color: #360;
    }
    &:disabled:hover {
        background-color: #ddd;
    }
}
