.level-border {
    border: 1px ridge #eee;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin: 8px 0 16px 0;
}
.level-bar {
    height: 1.5em;
    color:#000;
    background-color:#fc0;
    text-align: center;
    white-space: nowrap;
}

.page-edited {
    display: flex;
    width: 75%;
}

@import "Tt_address";
@import "Frontend-editing";
@import "Blog";
@import "Special";

