/**
 * rounded images
 */

.roundedImage {
    width: 300px;
    height: 300px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.roundedImage img {
    display: inline;
    margin: 0 auto;
    width: 100%;
    height: auto;
}

/**
 * loadable list
 */

.loadable li {
    display:none;
}

.loadMore {
    cursor:pointer;
}

.loadLess {
    cursor:pointer;
    visibility: hidden; /* only hidden, so that jQuery click can apply */
}

.grayedOut {
    color: lightgrey;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
