.tx-ttaddress {
    display: flex !important;
    flex-wrap: wrap;
}

.tt_address_detail-name {
    display: flex;
    width: 100%;
}

.main h2 + div.tt_address_detail-personal { // has to override _trumps.widths-responsive.scss
    display: flex;
    flex-direction: column;
    width: 50% !important;
    padding-left: 0;
}

.tt_address_detail-description {
    display: flex;
    flex-direction: column;
}

.tt_address_detail-rewardImages {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
}

.tt_address_detail-rewardImages img {
    width: 100px;
    height: auto;
    margin: 12px 0 12px 12px;
}

.tt_address_detail-personal .roundedImage {
    margin: 20px 0;
}

.tt_address_detail-editedPages {
    width: 100%;
}

.tt_address_list .addressImage:hover,
.tt_address_detail-addressImage:focus {
    background-color: #fff !important;
    color: inherit;
}

.tt_address_list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.tt_address_list .vcard {
    padding-bottom: 20px;
    display: flex;
    width: calc(100% / 3);
    padding: 20px;
}

.tt_address_list .author {
    display: flex;
    align-items: stretch;
    justify-content: center;
}

.tt_address_list .back h3 {
    text-align: center;
}

.tt_address_list .roundedImage {
    width: 200px;
    height: 200px;
}

.tt_address_list .image img {
    width: 100%;
    height: auto;
}

.tt_address_list .addressName {
    width: 200px;
}

.tt_address_list .addressName h3 {
    text-align: center;
    padding: 20px 0;
}

.tt_address_list .addressImage {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

