<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
			xmlns:og="http://typo3.org/ns/Subugoe/OafwmGamification/ViewHelpers"
			data-namespace-typo3-fluid="true">

<f:comment>Check, if user is logged in and is not part of the contoll group</f:comment>

<f:render partial="BadgeIcons"/>
<f:if condition="{currentUser.groupname} == 'Badges'">
	<div class="tt_address_detail-badges">
		<h3>Badges</h3>
		<div class="tt_address-detail-badge-images">
			<f:render partial="Badges/Login" arguments="{
						pageOwnerId: pageOwnerId,
						currentUser: currentUser,
						numberOfLogins: numberOfLogins}"/>
			<br />
			<f:render partial="Badges/Edits" arguments="{
						numberOfEdits: numberOfEdits,
						editedPages: editedPages,
						numberOfLogins: numberOfLogins}"/>
			<br />
			<f:render partial="Badges/OA-Tage" arguments="{
						numberOfOADays: numberOfOADays}"/>
		</div>
	</div>
</f:if>

<f:if condition="{currentUser.groupname} == 'Level'">
	<div class="tt_address_detail-badges">
		<h3>Level</h3>
		<f:render partial="Badges/Level" arguments="{
			numberOfEdits: numberOfEdits,
			numberOfLogins:numberOfLogins}"/>
	</div>
</f:if>
