<html xmlns:core="http://typo3.org/ns/TYPO3/CMS/FrontendEditing/ViewHelpers"
			data-namespace-typo3-fluid="true">

<div class="vcard tt_address_detail" itemscope itemtype="http://schema.org/Person">
	<h4 itemprop="name">
		<core:contentEditable table="tt_address" field="first_name" uid="{address.uid}">
			{address.firstName}
		</core:contentEditable>
		&nbsp;
		<core:contentEditable table="tt_address" field="last_name" uid="{address.uid}">
			{address.lastName}
		</core:contentEditable>
	</h4>
	<f:render section="position" partial="Address" arguments="{_all}"/>


	<f:if condition="{address.image}">
		<f:then>
			<div class="addressImage">
					<figure class="figure">
						<f:image image="{address.firstImage}" width="600"
										 class="figure-img img-fluid img-thumbnail rounded"
										 alt="{img.originalResource.alt}"
										 title="{img.originalResource.title}"
										 additionalAttributes="{itemprop:'image'}"/>
						<f:if condition="{address.firstImage.originalResource.description}">
							<figcaption class="figure-caption">
								{address.firstImage.originalResource.description ->
								f:format.nl2br()}
							</figcaption>
						</f:if>
					</figure>
				<div class="addressContent">
					<f:render section="content" arguments="{_all}"/>
				</div>
			</div>
		</f:then>
		<f:else>
			<f:render section="content" arguments="{_all}"/>
		</f:else>
	</f:if>
</div>

<f:render partial="EditedPages" arguments="{_all}"/>
<f:comment><f:render partial="Badges" arguments="{_all}"/></f:comment>

<f:section name="content">
	<f:if condition="{address.description}">
		<div class="description" itemprop="description">
			<core:contentEditable table="tt_address" field="description" uid="{address.uid}">
				{address.description}
			</core:contentEditable>
		</div>
	</f:if>

</f:section>

</html>
