<div class="vcard" itemscope itemtype="http://schema.org/Person">

			<f:link.action action="show" arguments="{address : address}"
										 title="{address.fullName}"
										 class="addressImage"
										 pageUid="{settings.singlePid}">
					<div class="image-center-horizontal">
						<f:if condition="{address.image}">
					<f:media file="{address.firstImage}" width="400" class="img-fluid img-thumbnail rounded"
									 alt="{img.originalResource.alt}"
									 title="{address.fullName}"/>
				</f:if>
					</div>
			</f:link.action>
	<div class="addressName">
		<h3>{address.fullName}</h3>
	</div>
		</div>
