<div class="vcard" itemscope itemtype="http://schema.org/Person">
	<div class="author">
		<f:link.action action="show" arguments="{address : address}"
									 title="{address.fullName}"
									 class="addressImage "
									 pageUid="{settings.singlePid}">
			<div class="roundedImage listImage">
				<f:if condition="{address.image}">
					<f:media file="{address.firstImage}" width="400"
									 alt="{img.originalResource.alt}"
									 title="{address.fullName}"/>

				</f:if>
			</div>
			<div class="addressName">
				<h3>{address.fullName}</h3>
			</div>
		</f:link.action>
	</div>
</div>
