<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
			xmlns:og="http://typo3.org/ns/Subugoe/OafwmGamification/ViewHelpers"
			data-namespace-typo3-fluid="true">

<f:comment>Check, if user is logged in and is not part of the contoll group</f:comment>

<f:if condition="{og:getBackendUser()} == {address.userUid} && {address.userGroupname} =! Controlgroup">
	<h3>Rewards</h3>
	<div class="rewardImages">
		<f:switch expression="{address.userGroupname}">

			<f:case value="Badges">
				<h4>Login</h4>
				<f:image src="EXT:oafwm_gamification/Resources/Public/Images/SingleLogin.png"
								 alt="Das erste Mal eingeloggt" title="Das erste Mal eingeloggt" />

				<f:if condition="{og:getEditedPages(uid:address.userUid) -> f:count()} > 0">
					<h4>Badges</h4>
						<f:image src="EXT:oafwm_gamification/Resources/Public/Images/Badges/SingleEdit.png"
										 alt="Eine Seite bearbeitet" title="Eine Seite bearbeitet" />
						<f:if condition="{og:getEditedPages(uid:address.userUid) -> f:count()} > 1">
							<f:image src="EXT:oafwm_gamification/Resources/Public/Images/Badges/MultiEdit.png"
											 alt="Mehr als eine Seite bearbeitet" title="Mehr als eine Seite bearbeitet" />
						</f:if>
				</f:if>
			</f:case>

			<f:case value="Level">
				<h4>Login</h4>
				<f:image src="EXT:oafwm_gamification/Resources/Public/Images/SingleLogin.png"
								 alt="Das erste Mal eingeloggt" title="Das erste Mal eingeloggt" />

				<f:if condition="{og:getEditedPages(uid:address.userUid) -> f:count()} > 0">
					<h4>Level</h4>
						<f:image src="EXT:oafwm_gamification/Resources/Public/Images/Levels/SingleEdit.png"
										 alt="Eine Seite bearbeitet" title="Eine Seite bearbeitet" />
						<f:if condition="{og:getEditedPages(uid:address.userUid) -> f:count()} > 1">
							<f:image src="EXT:oafwm_gamification/Resources/Public/Images/Levels/MultiEdit.png"
											 alt="Mehr als eine Seite bearbeitet" title="Mehr als eine Seite bearbeitet" />
						</f:if>
				</f:if>
			</f:case>

			<f:case value="Controlgroup">
				<f:comment>Nothing</f:comment>
			</f:case>
		</f:switch>
	</div>
</f:if>
