<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
			xmlns:og="http://typo3.org/ns/Subugoe/OafwmGamification/ViewHelpers"
			data-namespace-typo3-fluid="true">

<f:comment>Check, if user is logged in and is not part of the contoll group</f:comment>
<f:alias
	map="{backendUser:'{og:getBackendUser()}',
	editedPages: '{og:getEditedPages(uid:address.userUid)}',
	numberOfEdits: '{og:getNumberOfEdits(uid:address.userUid)}'}">

		<f:if condition="{backendUser.groupname}">
			<h3>{backendUser.groupname}</h3>
			<div class="rewardImages">
				<h4>Login</h4>
				<f:image src="EXT:oafwm_gamification/Resources/Public/Images/SingleLogin.png"
								 alt="Badge für 1 Mal einloggen" title="Das erste Mal eingeloggt"/>
				<f:alias map="{logins:'{og:getNumberOfLogins(uid:backendUser)}'}">
					<f:if condition="{logins} > 10">
						<f:image src="EXT:oafwm_gamification/Resources/Public/Images/MultipleLogin.png"
										 alt="Badge für mehr als 10 Mal einloggen" title="Mehr als 10 Mal eingeloggt"/>
					</f:if>
				</f:alias>

				<h4>Anzahl editierter Seiten</h4>
				<f:if condition="{backendUser.groupname} == Badges">
					<f:if condition="{editedPages -> f:count()} > 0">
						<f:image src="EXT:oafwm_gamification/Resources/Public/Images/Badges/SingleEdit.png"
										 alt="Eine Seite bearbeitet" title="Eine Seite bearbeitet"/>
						<f:if condition="{editedPages -> f:count()} > 1">
							<f:image src="EXT:oafwm_gamification/Resources/Public/Images/Badges/MultiEdit.png"
											 alt="Mehr als eine Seite bearbeitet" title="Mehr als eine Seite bearbeitet"/>
						</f:if>
					</f:if>
				</f:if>

				<f:if condition="{backendUser.groupname} == Level">
					<f:if condition="{editedPages -> f:count()} > 0">
						<f:image src="EXT:oafwm_gamification/Resources/Public/Images/Levels/SingleEdit.png"
										 alt="Eine Seite bearbeitet" title="Eine Seite bearbeitet"/>
						<f:if condition="{editedPages -> f:count()} > 1">
							<f:image src="EXT:oafwm_gamification/Resources/Public/Images/Levels/MultiEdit.png"
											 alt="Mehr als eine Seite bearbeitet" title="Mehr als eine Seite bearbeitet"/>
						</f:if>
					</f:if>
				</f:if>
			</div>
		</f:if>
</f:alias>
