<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
			xmlns:og="http://typo3.org/ns/Subugoe/OafwmGamification/ViewHelpers"
			data-namespace-typo3-fluid="true">

<f:comment>Check, if user is logged in and is not part of the contoll group</f:comment>
<f:alias
	map="{
	currentUser:'{og:getCurrentBackendUser()}',
	pageOwnerId:'{address.oafwmUid}'
	editedPages: '{og:getEditedPages(uid:address.oafwmUid)}',
	numberOfEdits: '{og:getEditedPages(uid:address.oafwmUid)}',
  numberOfLogins: '{og:getNumberOfLogins(uid:address.oafwmUid)}'
  }">

		<f:if condition="{currentUser.groupname} == 'Badges' || {currentUser.groupname} == 'Level'">
			<div class="tt_address_detail-rewardImages">
				<h3>Rewards</h3>
				<f:render partial="Rewards/Login" arguments="{pageOwnerId:pageOwnerId, currentUser:currentUser, numberOfLogins:numberOfLogins}" />

				<f:render partial="Rewards/Edits" arguments="{currentUser:currentUser, numberOfEdits:numberOfEdits, address:address, editedPages:editedPages}" />
			</div>
		</f:if>
</f:alias>
