<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
			xmlns:og="http://typo3.org/ns/Subugoe/OafwmGamification/ViewHelpers"
			data-namespace-typo3-fluid="true">


<!-- edits of different topics -->

<!-- number of edits -->

		<f:if condition="{editedPages} >= 1">
			<f:then>
				<p>Badge für eine editierte Seite</p>
			</f:then>
			<f:else>
				<p class="grayedOut">Badge für eine editierte Seite</p>
			</f:else>
		</f:if>
		<f:if condition="{editedPages} >= 5">
			<f:then>
				<p>Badge für 5 editierte Seiten</p>
			</f:then>
			<f:else>
				<p class="grayedOut">Badge für 5 editierte Seiten</p>
			</f:else>
		</f:if>
		<f:if condition="{editedPages} > 50">
			<f:then>
				<p>Badge für 5 editierte Seiten</p>
			</f:then>
			<f:else>
				<p class="grayedOut">Badge für 5 editierte Seiten</p>
			</f:else>
		</f:if>
	<f:if condition="{editedPages} > 150">
		<f:then>
			<p>Badge für 150 editierte Seiten</p>
		</f:then>
		<f:else>
			<p class="grayedOut">Badge für 150 editierte Seiten</p>
		</f:else>
	</f:if>

(Bis jetzt hast du {editedPages} Seiten editiert und dich {numberOfLogins} mal eingeloggt.)
