<f:variable name="activity">{numberOfEdits + numberOfLogins}</f:variable>

<f:variable name="level">0</f:variable>


<!-- simple edits -->
<f:if condition="{activity} > 2000">
	<f:then>
		<f:variable name="level">10</f:variable>
	</f:then>
	<f:else if="{activity} > 1100">
		<f:variable name="level">9</f:variable>
	</f:else>
	<f:else if="{activity} > 625">
		<f:variable name="level">8</f:variable>
	</f:else>
	<f:else if="{activity} > 325">
		<f:variable name="level">7</f:variable>
	</f:else>
	<f:else if="{activity} > 175">
		<f:variable name="level">6</f:variable>
	</f:else>
	<f:else if="{activity} > 85">
		<f:variable name="level">5</f:variable>
	</f:else>
	<f:else if="{activity} > 40">
		<f:variable name="level">4</f:variable>
	</f:else>
	<f:else if="{activity} > 19">
		<f:variable name="level">3</f:variable>
	</f:else>
	<f:else if="{activity} > 9">
		<f:variable name="level">2</f:variable>
	</f:else>
	<f:else if="{activity} > 3">
		<f:variable name="level">1</f:variable>
	</f:else>
</f:if>
<div class="level-border">
	<div class="level-bar login" style="width:{level*10}%">
		Stufe {level}
	</div>
</div>
<p class="level-description">
(Dieses Level gibt an wie aktiv du dich bisher in die Community eingebracht hast.
	Trage weiter regelmäßig etwas bei, um weiter aufzusteigen)
</p>
<p class="grayedOut">
	Bis jetzt hast du {numberOfEdits} mal editiert und dich {numberOfLogins} mal eingeloggt.
</p>
