<f:if condition="{numberOfLogins} >= 1">
	<f:then>
		<p>Badge für erstes mal eingeloggt</p>
	</f:then>
	<f:else>
		<p class="grayedOut">Badge für erstes mal eingeloggt</p>
	</f:else>
</f:if>
<f:if condition="{numberOfLogins} >=5">
	<f:then>
		<p>Badge für mindestens 5 mal eingeloggt</p>
	</f:then>
	<f:else>
		<p class="grayedOut">Badge für mindestens 5 mal eingeloggt</p>
	</f:else>
</f:if>
<f:if condition="{numberOfLogins} >= 50">
	<f:then>
		<p>Badge für mindestens 50 mal eingeloggt</p>
	</f:then>
	<f:else>
		<p class="grayedOut">Badge für mindestens 50 mal eingeloggt</p>
	</f:else>
</f:if>
<f:if condition="{numberOfLogins} >= 250">
	<f:then>
		<p>Badge für mindestens 250 mal eingeloggt</p>
	</f:then>
	<f:else>
		<p class="grayedOut">Badge für mindestens 250 mal eingeloggt</p>
	</f:else>
</f:if>
