<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
			xmlns:og="http://typo3.org/ns/Subugoe/OafwmGamification/ViewHelpers"
			xmlns:core="http://typo3.org/ns/TYPO3/CMS/FrontendEditing/ViewHelpers"
			data-namespace-typo3-fluid="true">

<main role="main" class="main">
	<f:cObject typoscriptObjectPath="lib.breadCrumb"/>

	<!--TYPO3SEARCH_begin-->
	<f:format.htmlentitiesDecode>
		<f:cObject typoscriptObjectPath="lib.relContent.def"/>
	</f:format.htmlentitiesDecode>
	<f:render partial="PageEdited.html" arguments="{_all}"/>

	<!--TYPO3SEARCH_end-->
	<f:render partial="Search.html" arguments="{_all}"/>
</main>
