<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
			xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
			xmlns:og="http://typo3.org/ns/Subugoe/OafwmGamification/ViewHelpers"
			data-namespace-typo3-fluid="true">


<!-- exclude from page editing -->
<f:variable name="excluded" value="0"/>
<f:for each="{v:iterator.explode(content:'{exclude_from_page_editing}')}" as="exclude">
	<f:if condition="{data.uid}=={exclude}">
		<f:then>
			<f:variable name="excluded" value="1"/>
		</f:then>
	</f:if>
</f:for>

<f:if condition="{excluded = 0}">
	<!-- exclude page tree vom editing -->
	<f:for each="{v:iterator.explode(content:'{exclude_tree_from_page_editing}')}" as="exclude">
		<f:for each="{v:page.rootline()}" as="so1">
			<f:if condition="{exclude} == {so1.uid}">
				<f:variable name="excluded" value="1"/>
			</f:if>
		</f:for>
	</f:for>
</f:if>

<main role="main" class="main">
	<f:cObject typoscriptObjectPath="lib.breadCrumb"/>

	<!--TYPO3SEARCH_begin-->
	<f:if condition="{excluded}">

		<f:then>
		<span class="excluded-from-fe">
			<f:format.htmlentitiesDecode>
				<f:cObject typoscriptObjectPath="lib.relContent.def"/>
			</f:format.htmlentitiesDecode>
		</span>
		</f:then>

		<f:else>
			<f:format.htmlentitiesDecode>
				<f:cObject typoscriptObjectPath="lib.relContent.def"/>
			</f:format.htmlentitiesDecode>
			<f:render partial="PageEdited.html" arguments="{_all}"/>
		</f:else>

	</f:if>

	<f:cObject typoscriptObjectPath="lib.blogForm"/>
	<f:cObject typoscriptObjectPath="lib.blogComments"/>

	<!--TYPO3SEARCH_end-->
	<f:if condition="{SEARCH_UID} == {data.uid}">
		<f:render partial="Search.html" arguments="{_all}"/>
	</f:if>

</main>

