<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
			xmlns:og="http://typo3.org/ns/Subugoe/OafwmGamification/ViewHelpers"
			data-namespace-typo3-fluid="true">

<f:alias map="{authorUids:'{og:getAuthorsOfPage(pid:data.uid)}'}">
	Seite nach dem <f:format.date format="%d. %B %Y">{og:getBeginOfSyslog()}</f:format.date> bearbeitet von:
	<f:for each="{authorUids}" as="res" iteration="iter">
		<f:alias map="{user:'{og:getBackendUser(uid:res.userid)}'}">
			<f:if condition="{user} != ''">
				<f:if condition="{iter.isFirst}">
					<f:then>
						{user}
					</f:then>
					<f:else>
						<f:if condition="{iter.isLast}">
							<f:then>
								und {user}
							</f:then>
							<f:else>
								, {user}
							</f:else>
						</f:if>
					</f:else>
				</f:if>
			</f:if>
		</f:alias>
	</f:for>
</f:alias>
