<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
			xmlns:og="http://typo3.org/ns/Subugoe/OafwmGamification/ViewHelpers"
			data-namespace-typo3-fluid="true">

<f:comment>
	Show information about date of last change and Editors of page
</f:comment>
<f:alias map="{
	authorUids:'{og:getAuthorsOfPage(pid:data.uid)}',
		changeDate: '{og:getBeginOfSyslog()}'
		}">

	<f:if condition="{authorUids}">
		<f:then>
		Letzte Änderungen am
		<f:format.date format="%d. %B %Y">{data.tstamp}</f:format.date>.
		<br />
		Author*innen:
		<f:for each="{authorUids}" as="res" iteration="iter">
			<f:alias map="{user:'{og:getBackendUser(uid:res.userid)}'}">
				<f:if condition="{user.username}">
					<f:if condition="{iter.isLast}">
						<f:then>
							{user.username} und
						</f:then>
						<f:else>
							{user.username},
						</f:else>
					</f:if>
				</f:if>
			</f:alias>
		</f:for>
		das IPOA-Redaktionsteam.
		</f:then>
		<f:else>
			Letze Änderungen vor dem <f:format.date format="%d. %B %Y">{changeDate}</f:format.date> vom IPOA-Redaktionsteam.
		</f:else>
	</f:if>

</f:alias>

