<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
			xmlns:og="http://typo3.org/ns/Subugoe/OafwmGamification/ViewHelpers"
			data-namespace-typo3-fluid="true">

<f:comment>
	Show information about date of last change and Editors of page
</f:comment>
<f:alias map="{
	authors:'{og:getAuthorsOfPage(pid:data.uid)}',
		changeDate: '{og:getBeginOfSyslog()}'
		}">

	<div class="frame">
		<div>
			<f:if condition="{authors}">
				<f:then>
					Letzte Änderungen am
					<f:format.date format="%d. %B %Y">{data.tstamp}</f:format.date>.
					<br/>
					Author*innen:
					<f:for each="{authors}" as="author" iteration="iter">
						<f:if condition="{iter.isLast}">
							<f:then>
								{author.realName} und
							</f:then>
							<f:else>
								{author.realName},
							</f:else>
						</f:if>
					</f:for>
					das IPOA-Redaktionsteam.
				</f:then>
				<f:else>
					Letze Änderungen vor dem
					<f:format.date format="%d. %B %Y">{changeDate}</f:format.date>
					vom IPOA-Redaktionsteam.
				</f:else>
			</f:if>
		</div>
	</div>

</f:alias>
