<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
			xmlns:og="http://typo3.org/ns/Subugoe/OafwmGamification/ViewHelpers"
			xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
			data-namespace-typo3-fluid="true">
<div id="comment-{comment.uid}" class="media comment comment-wrap">

	<div class="media-left">
		<div class="comment-avatar">
		</div>
	</div>

	<div class="media-body">
		<be:avatar backendUser="{og:getUidByEmail(email:'{comment.email}')}"/>

		<f:if condition="{comment.url}">
			<f:then>
				<cite itemprop="name" class="author">
					<f:link.external uri="{comment.url}" target="_blank" rel="external nofollow" class="url">
						{comment.name},
					</f:link.external>
					<span itemprop="commentTime">
						<f:format.date format="d.m.Y">{comment.crdate}</f:format.date>
					</span>
				</cite>
			</f:then>
			<f:else>
				<cite itemprop="name" class="author">
					{comment.name},
					<span itemprop="commentTime">
					<f:format.date format="d.m.Y">{comment.crdate}</f:format.date>
				</span>
				</cite>
			</f:else>
		</f:if>
		<p itemprop="commentText" class="content">
			<f:format.nl2br>{comment.comment}</f:format.nl2br>
		</p>
	</div>
</div>
