<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
			xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
			xmlns:og="http://typo3.org/ns/Subugoe/OafwmGamification/ViewHelpers"
			data-namespace-typo3-fluid="true">

<f:alias
	map="{user:'{og:getCurrentBackendUser()}'}">
	<f:if condition="{user.username} != ''">
		<header>
			<h2 class="comment-title">
			<f:translate key="LLL:EXT:blog/Resources/Private/Language/locallang.xlf:headline.commentform"/>
			</h2>
		</header>
		<f:form action="addComment" name="comment" object="{comment}" pageUid="" addQueryString="true">
			<div class="form-group form-group-author">
				<f:form.textfield id="author" property="name" class="form-control" value="{user.username}"/>
			</div>
			<div class="form-group form-group-email">
				<f:form.textfield id="email" type="email" property="email" class="form-control" value="{user.email}"/>
			</div>
			<div class="form-group form-group-url">
				<f:form.textfield id="url" type="url" property="url" class="form-control"/>
			</div>
			<div class="form-group form-group-comment">
				<f:form.textarea id="comment" property="comment" class="form-control"/>
			</div>

			<f:form.submit name="submit" class="btn btn-primary"
										 value="Submit"/>
		</f:form>
	</f:if>
</f:alias>

